/*ウェブフォントを使用する場合はここに定義を追加して下さい*/

@font-face {
  font-family: "mfrules";
  src: url("../data/others/Mf_Break_The_Rules.eot?") format("eot"),
    url("../data/others/Mf_Break_The_Rules.woff") format("woff"),
    url("../data/others/Mf_Break_The_Rules.ttf") format("truetype"),
    url("../data/others/Mf_Break_The_Rules.svg#MfBreakTheRules") format("svg");
  font-weight: normal;
  font-style: normal;
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: "web_noto_el";
  src: url("../data/others/NotoSansCJKjp-DemiLight.otf") format("opentype");
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: "web_noto_l";
  src: url("../data/others/NotoSansCJKjp-Light.otf") format("opentype");
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: "web_noto_m";
  src: url("../data/others/NotoSansCJKjp-Medium.otf") format("opentype");
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: "web_notos_r";
  src: url("../data/others/NotoSerifCJKjp-Regular.ttf") format("truetype");
  unicode-range: U+0-10FFFF;
}