<style>
	.display_save {
		height: 100%;
		width: 100%;
		background-image: url(./data/image/save_bg.png);
		background-size: cover;	
		position: relative;
	}
	/* ヘッダ */
	.mini-header::after {
		content: "";
		display: block;
		clear: both;
	}
	.mini-header {
		height: 74px;
		background-image: linear-gradient(270deg, #361413, #262626, #361413);
	}
	.mh-title {
		height: 74px;
		float: left;
		color: #fff;
		font-weight: bold;
		font-size: 46px;
	}
	.mh-title img:nth-child(1) {
		box-sizing: border-box;
		height: 74px;
		padding: 0 0 0 45px;
	}
	.mh-title img:nth-child(2) {
		box-sizing: border-box;
		height: 74px;
		padding: 30px 0 21px 0;
		object-fit: contain;
	}
	.mh-links {
		box-sizing: border-box;
		float: right;
		height: 74px;
		padding: 29px 44px;
	}
	.mh-links::after {
		content: "";
		clear: both;
		display: block;
	}
	.mh-links a {
		box-sizing: border-box;
		display: block;
		float: left;
		height: 100%;
		margin-left: 10px;
	}
	.mh-links a img {
		height: 100%;
		width: 100%;
		object-fit: contain;
	}
	/* slots select */
	.slot {
		box-sizing: border-box;
		height: 86px;
		width: 100%;
		padding: 32px 69px 16px 0;
	}
	.slot::after {
		content: "";
		clear: both;
		display: block;
	}
	.slot img {
		box-sizing: border-box;
		height: 120%;
		padding-top: 10px;
		object-fit: contain;
		float: right;
	}
	.slot ul {
		float: right;
		display: block;
	}
	.slot ul li {
		display: inline-block;
		padding-left: 5px;
	}
	.num-block {
		display: block;
		height: 37px;
		width: 37px;
		border-radius: 3px;
		background-color: #361413;
		text-decoration: none;
		transition: background-color 0.3s linear;
	}
	.num-block .num {
		font-family: Arial;
		font-weight: lighter;
		color: #fff;
		font-size: 20px;
		line-height: 37px;
	}
	/* save slider */
	.al {
		position: absolute;
		height: 34.2px;
		object-fit: contain;
		top: 385px;
		left: 15px;
	}
	.ar {
		position: absolute;
		height: 34.2px;
		object-fit: contain;
		top: 385px;
		right: 15px;
	}
	.save-list {
		box-sizing: border-box;
		width: auto;
		height: 531px;
		margin: 0 47px;
		border: 7px solid #361413;
		border-radius: 25px;
		overflow: hidden;
		background-color: transparent;
		position: relative;
	}
	.slider {
		height:100%;
		width: 300%;
		position: absolute;
		top: 0;
		left: 0;
		transition: left 1s ease 0;
	}
	.slider::after {
		content: "";
		clear: both;
		display: block;
	}
	.slide {
		box-sizing: border-box;
		height: 517px;
		width: 1172px;
		padding: 32.5px 10px;
		float: left;
	}
	/* save slot */
	.save-item {
		height: 209.5px;
		width: 207.7px;
		float: left;
		border-radius: 10px;
		background-color: #F0F0F0;
		border: 3px solid #361413;
		margin: 8.25px 8.35px;
		position: relative;
		background-color: rgba(255,255,255,.45);
	}
	.save-item-num {
		height: 48px;
		width: 32px;
		position: absolute;
		top: 0;
		right: 25px;
		font-family: Helvetica;
		line-height: 48px;
		font-size: 20.5px;
		color: #fff;
		background-color: #361413;
		font-weight: lighter;
	}
	.save-item-thumb {
		height: 104px;
		width: 181px;
		margin: 15px 13px;
	}
	.save-item-thumb img {
		height: 100%;
		width: 100%;
		object-fit: cover;
	}
	.save-item-info {
		padding: 0 12px 0;
		font-size: 13px;
		line-height: 15px;
		position: relative;
	}
	.save-item-text {
		height: 30px;
		width: 100%;
		text-align: justify;
		font-family: 'web_noto_l';
	}
	.save-item-text span {
		height: 100%;
		width: 100%;
		overflow: hidden;
		-webkit-line-clamp: 2;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		font-family: 'web_noto_l';
	}
	.date-wrapper {
		margin-top: 16px;
		width: 100%;
	}
	.date-wrapper::after {
		content: "";
		clear: both;
		display: block;
	}
	.date-wrapper img {
		float: left;
		display: block;
		height: 16px;
		object-fit: contain;
		margin-right: 5px;
	}
	.save-item-date {
		font-family: 'web_noto_l';
		line-height: 14.5px;
		float: left;
	}
	.trashbox {
		position: absolute;
		bottom: 8px;
		right: 8px;
		z-index: 9999;
		display: block;
		height: 24px;
		width: 24px;
		object-fit: contain;
	}
	/*  */
</style>
<div class="display_save">
	<div class="mini-header">
		<div class="mh-title">
			<img src="data/image/LOGO_SAVE.svg">
			<img src="data/image/SUB_LOGO_SAVE.svg">
		</div>
		<div class="mh-links">
			<a href="javascript:void(0)" onclick="TYRANO.kag.layer.getMenuLayer().empty();TYRANO.kag.layer.getMenuLayer().css('background-image','url(./data/image/save_bg.png)');TYRANO.kag.menu.displayLoad();"><img src="data/image/LOAD.svg"></a>
			<a href="javascript:void(0)" onclick="location.href = './index.html'"><img src="data/image/TITLE.svg"></a>
			<a href="javascript:void(0)"><img src="data/image/BACK.svg" class="menu_close"></a>
			<a href="javascript:void(0)" onclick="window.close()"><img src="data/image/EXIT.svg"></a>
		</div>
	</div>
	<div class="slot">
		<ul>
			<li>
				<a class="num-block" href="javascript:void(0)" onclick="$('.slider').css('left', '0px');changeNumBlockColor1();">
					<span class="num">1</span>
				</a>
			</li>
			<li>
				<a class="num-block" href="javascript:void(0)" onclick="$('.slider').css('left', '-1172px');changeNumBlockColor2();">
					<span class="num">2</span>
				</a>
			</li>
			<li>
				<a class="num-block" href="javascript:void(0)" onclick="$('.slider').css('left', '-2344px');changeNumBlockColor3();">
					<span class="num">3</span>
				</a>
			</li>
		</ul>
		<img src="data/image/Slot.svg">
	</div>
	<a class="al" href="javascript:void(0)" onclick="al();"><img src="./data/image/arrow_left.svg"></a>
	<a class="ar" href="javascript:void(0)" onclick="ar();"><img src="./data/image/arrow_right.svg"></a>
	<div class="save-list">
		<div class="slider">
			{{for array_save}}
				{{if #index % 10 == 0}}
					<div class="slide">
				{{/if}}
				<div class='save-item save_list_item save_display_area' data-num='{{:num}}'>
					<div class="save-item-num">
						{{>(#index + 1)}}
					</div>
					<div class='save-item-thumb'>
					{{if img_data == ""}}
						<img src="data/image/default_thumbnail.png">
					{{else}}
						<img src="{{:img_data}}">
					{{/if}}
					</div>
					
					<div class='save-item-info'>
						<div class='save-item-text'>{{:title}}</div>
						<div class="date-wrapper">
							<img src="data/image/icon_clock.svg">
							<div class='save-item-date'>{{:save_date}}</div>
						</div>
					</div>
					<a class="trashbox" href="javascript:void(0)" onclick="delData($(this).parent().attr('data-num'), 'save');return false;">
						<img src="data/image/icon_trashbox.svg" alt="">
					</a>
				</div>
				{{if #index % 10 == 9}}
					</div>
				{{/if}}
			{{/for}}
		</div>
	</div>
	<script>
	function ar() {
		var numBlocks = document.getElementsByClassName('num-block');
		var nowLeft = $('.slider').css('left');
		nowLeft = parseInt(nowLeft);
		if (nowLeft >= 0) {
			$('.slider').css('left', '-1172px');
			changeNumBlockColor2();
		} else if (nowLeft < -1172) {
			$('.slider').css('left', '0px');
			changeNumBlockColor1();
		} else {
			$('.slider').css('left', '-2344px');
			changeNumBlockColor3();
		}
	}
	function al() {
		var numBlocks = document.getElementsByClassName('num-block');
		var nowLeft = $('.slider').css('left');
		nowLeft = parseInt(nowLeft);
		if (nowLeft <= -2344) {
			$('.slider').css('left', '-1172px');
			changeNumBlockColor2();
		} else if(nowLeft > -1172) {
			$('.slider').css('left', '-2344px');
			changeNumBlockColor3();
		} else {
			$('.slider').css('left', '0px');
			changeNumBlockColor1();
		}
	}
	$(window).keydown( function(e) {
		var code = e.keyCode;
		if (code === 37) { // arrow left
			var nowLeft = $('.slider').css('left');
			nowLeft = parseInt(nowLeft);
			var numBlocks = document.getElementsByClassName('num-block');
			if (nowLeft <= -2344) {
				$('.slider').css('left', '-1172px');
				changeNumBlockColor2();
			} else if(nowLeft > -1172) {
				$('.slider').css('left', '-2344px');
				changeNumBlockColor3();
			} else {
				$('.slider').css('left', '0px');
				changeNumBlockColor1();
			}
		}
		if (code === 39) { // arrow right
			var nowLeft = $('.slider').css('left');
			nowLeft = parseInt(nowLeft);
			var numBlocks = document.getElementsByClassName('num-block');
			if (nowLeft >= 0) {
				$('.slider').css('left', '-1172px');
				changeNumBlockColor2();
			} else if (nowLeft < -1172) {
				$('.slider').css('left', '0px');
				changeNumBlockColor1();
			} else {
				$('.slider').css('left', '-2344px');
				changeNumBlockColor3();
			}
		}
	});
	function changeNumBlockColor1() {
		var numBlocks = document.getElementsByClassName('num-block');
		numBlocks[0].style.backgroundColor = "rgba(230, 85, 80, 1)";
		numBlocks[1].style.backgroundColor = "rgba(54, 20, 19, 1)"
		numBlocks[2].style.backgroundColor = "rgba(54, 20, 19, 1)"
	}
	function changeNumBlockColor2() {
		var numBlocks = document.getElementsByClassName('num-block');
		numBlocks[0].style.backgroundColor = "rgba(54, 20, 19, 1)"
		numBlocks[1].style.backgroundColor = "rgba(230, 85, 80, 1)";
		numBlocks[2].style.backgroundColor = "rgba(54, 20, 19, 1)"
	}
	function changeNumBlockColor3() {
		var numBlocks = document.getElementsByClassName('num-block');
		numBlocks[0].style.backgroundColor = "rgba(54, 20, 19, 1)"
		numBlocks[1].style.backgroundColor = "rgba(54, 20, 19, 1)"
		numBlocks[2].style.backgroundColor = "rgba(230, 85, 80, 1)";
	}
	changeNumBlockColor1();
	</script>
</div>